.whole-app {
  margin: 12px;
  max-width: 600px;
  padding: 40px 20px;
  color: rgb(97, 95, 95);
  font-family: "Lato", sans-serif;
  background-color: rgb(229, 239, 229);
}

.current-city-info {
  text-align: center;
}
.current-date {
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
}
#current-city {
  line-height: 1;
  font-size: 28px;
  font-weight: 800;
  margin: 7px;
}

.current-temperature {
  font-size: 24px;
  font-weight: 800;
  line-height: 1;
}

.current-temperature .active {
  color: rgb(97, 95, 95);
  cursor: default;
}

.units {
  text-decoration: none;
  font-size: 11px;
  position: relative;
  top: -10px;
}

#celsius-link,
#fahrenheit-link {
  text-decoration: none;
}

#current-weather-icon {
  height: 80px;
  line-height: 1;
}

.current-wind-hum-description {
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
}
#description:first-letter {
  text-transform: capitalize;
  font-style: normal;
}
#a-city-input {
  width: 70%;
  line-height: 28px;
  padding-left: 10px;
  border: solid 0.5px #615f5f;
  border-radius: 4px;
  margin-bottom: 10px;
}

.btn-primary,
.btn-secondary,
.btn-light {
  font-size: 14px;
  font-weight: bold;
  width: 35%;
  padding: 3px;
}

.btn-light {
  border: 1px solid rgb(97, 95, 95);
}

.five-days-info h5 {
  font-size: 14px;
  font-weight: 600;
  font-style: italic;
}

.temperature {
  font-size: 16px;
  font-weight: 600;
  margin-left: 0 auto;
}

.fa-solid {
  font-size: 20px;
  line-height: 20px;
}
.card-body {
  padding: 0px;
}
.open-source-link {
  font-size: 12px;
  margin-left: 25px;
  color: rgb(97, 95, 95);
  font-family: "Lato", sans-serif;
}
